* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    color: #fde;
}

header {
    min-height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(#46a 1px, #000 2px);
    box-shadow: inset 0 -15px 21px 1px #000;
    background-size: 10px 10px;
    background-position: 10px;   
    animation-name: dots;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dots {
    0%   {background-position: 10px;}
    100% {background-position: 49px;;}
}



header h2 {
    font-size: 20px;
    font-family: 'Sigmar', cursive;
    /* margin-right: auto; */
}
header p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 10px;
}

.error {
    color: #f11;
    text-decoration: underline;
    display: 'none';
}

.btn-basic {
    margin: 5px;
    background: #8ed;
    color: #000;
    border: none;
    padding: 10px 14px;
    font-weight: bold;
    border-radius: 2px;
}


.btn-basic:active {
    background: #7cf;
}

.btn-subtle {
    border: dotted 2px;
    background-color: #00000000;
    color: #666;
}

.btn-subtle:hover,
.btn-subtle:focus {
    border: dotted 2px #f11;
    color: #fff;
}

.btn-subtle:active {
    border: dotted 2px #fff;
    color: #f11;
}

#quit-btn {
    width: 100%;
    grid-row: 3/-1;
    grid-column: 1/2;
}

#round-btn,
#restart-btn {
    background-color: #8ed;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    grid-column: 2/-1;
}


.cust-container,
.game-container {
    margin: auto;
    text-align: center;
    position: relative;
    
    font-family: Arial, sans-serif;
}

.game-container {
    height: 93vh;
    max-width: 900px;
    grid-template-columns: 85px 1fr;
    grid-template-rows: 1fr 1fr 35px;
}

.game-container,
.rat-status-box,
.text-section {
    display: grid;
}

.cust-box,
.att-box,
.rat-array-box,
.rat,
.rat-stat-sctn,
.rat-stat-icon-sctn {
    display: flex;
}

.cust-box,
.text-container {
    flex-direction: column;
    justify-content: center;
    flex-direction: flex-end;
}

.cust-box {
    max-width: 270px;
    height: 360px;
    margin: auto;
    text-align: center;
}

.cust-box input[type=text] {
    width: 150px;
    margin: 2px auto;
    margin-bottom: 15px;
    padding: 5px 0;
    text-align: center;
    background-color: #00000000;
    border: none;
    border-bottom: solid 1px #8ed;
    color: #fff;
    font-weight: bold;
}

.cust-box input[type=text]:focus,
.cust-box input[type=text]:hover {
    outline: none;
    background-color: #222;
}

.att-box {
    justify-content: space-around;
    align-items: center;
    position: relative;
}

/* .att-box:nth-of-type(1) {
    justify-content:center;
    margin: 12px 0 ;
}
*/
.att-box:nth-of-type(1) img {
    width: 40px;
    margin: 5px 0
}

.att-box p {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}


.att-box button {
    font-weight: bolder;
    font-size: 18px;
    border: none;
    background-color: #00000000;
    cursor: pointer;
    color: #8ed;
    margin: 5px 0;
}

/* .att-box:nth-of-type(1) button {
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #4ba;
    color:#8ed;
    margin-left: 10px;
} */

.att-box button:hover {
    color: #fff;
}

.att-box button:active {
    color: #8ed;
}

.text-container {
    grid-column: 1/-1;
    overflow: hidden;
    border-bottom: #666 dotted;
    border-top: #666 dotted;
    min-height: 70px;
}

.scroller {
    overflow: auto;
    justify-content: normal;
}

.round-num {
    border-top: solid 3px #8ed;
    border-bottom: solid 3px #8ed;
    padding: 5px;
    margin: 15px 0;
    color: #4ba;
}

.text-section {
    grid-template-columns: 50px 1fr;
    width: 80%;
    margin: auto;
    margin-bottom: 7px;
    font-family: Arial, sans-serif;
    align-items: center;
    min-height: 40px;
}

.text-section p {
    text-align: left;
    grid-column: 2/-1;
}

.text-section h4 {
    grid-column: 1 / -1;

}

.winner-icon {
    grid-column: 1/-1;
    margin: auto;
    margin-top: 27px;
    width: 80px;
    border: #4ba double 5px;
}

.specter-icon{
    grid-column: 1/-1;
    margin: auto;
    min-height: 300px;
    width: 100%;
    border: none;
}

.day-transition {
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.rat-status-box {
    padding-bottom: 7px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-column: 1/-1;
    grid-gap: 2px;
}

.rat-array-box {
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}


.rat {
    font-size: 13px;
    flex-direction: column;
    border: #8ed solid 2px;
    border-radius: 7px;
    min-width: 100px;
    min-height: 145px;
    padding: 5px;
}

.rat-status {
    height: 100%;
    padding-top: 7px;
    font-size: 11px;
    border: #4ba dotted 1px;
}


.rat h4,
.rat-status h4 {
    text-decoration: underline;
    margin-bottom: 4px;
}

.rat img,
.rat-tray-icon {
    border: #8ed dotted 1px;
    margin: auto;
    width: 30px;
}

.rat-stat-sctn {
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0 5px;
    margin: 3px 0;
}

.rat-stat-icon-sctn {
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.shelter-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    left: 75%;
    right: 0;
}

.text-icon {
    width: 40px;
    margin-right: 10px;
}

.stat-value {
    color: #4ba;
}

.fine {
    color: #6c0;
}

.warning {
    color: #e94;
}

.danger {
    color: #d35;
}



.wounded {
    border: #ff1 dotted 1px;
}

.rat-dead {
    border: #f11 dotted 1px;
}

.dead-icon {
    filter: grayscale(90%);
    border: #fde solid 1px;
}

@media (min-width: 370px){

    .rat-status {
        font-size: 13px;
    }
}

@media (min-width: 650px) {

    header {
        height: 110px;
        margin-bottom: 15px;
        justify-content: center;
        flex-direction: column;
        background-size: 20px 20px;
    }

    header h2 {
        font-size: 50px;
    }

    header p {
        margin-top: -7px;
        font-size: 13px;
    }

    .game-container {
        border: #666 solid;
        margin-top: 80px;
        height: auto;
        grid-template-columns: 1fr minmax(300px, 1fr) 75px;
        grid-template-rows: 380px 50px;
    }

    .text-container {
        grid-column: 1/2;
        grid-row: 1/-1;
        padding-bottom: 50px;
        border-right: #666 dotted;
        border-bottom: none;
        border-top: none;
    }

    .rat-status-box {
        grid-column: 2 / -1;
        padding-bottom: 0;
    }
    .rat-status {
        font-size: 15px;
    }

    #quit-btn,
    #round-btn,
    #restart-btn{
        grid-column: auto;
        grid-row: auto;
    }
}